kestrel-core==1.8
kestrel-datasource-stixbundle==1.8.0
kestrel-datasource-stixshifter==1.8.0

# kestrel-analytics-pytho==1.8.0 (need it if running any Python analytics in a huntflow)
# kestrel-analytics-docke==1.8.0 (probably no need to install; need it if running any analytics in Docker)
# kestrel-jupyter (installs everything with Jupyter)

Jinja2==3.1.2

stix-shifter==6.2.2
stix-shifter-utils==6.2.2
stix2-matcher
stix2-patterns
stix2-validator

paho-mqtt==2.0.0
toml==0.10.2
jsonschema
python-benedict==0.31.0
pyyaml==6.0.1
fastapi==0.110.0
uvicorn==0.22.0

pyopenssl

setuptools==68.0.0

# You may need to run these separately 
# pip install --upgrade pip
# pip install --upgrade setuptools